{% extends 'base.html'%}
{%block content %}
<div class="container">
    
    <div class="row">
        {%if images %}
        <h2>Found {{images | length }} searches</h2>
        {%else%}
        <h2>Fou</h2>
        {%endif%}
        
    </div>
    <div class="row">
        {%if images%}
        {%for image in images%}
        <div class="col-md-4">
            <h3>{{image.name}}</h3>
            <img src="{{image.image.url}}" alt="dddd" width="150" height="200">
            <p>{{image.email}}</p>
        </div>
        {%endfor%}
        {%endif%}
        
    </div>
</div>
{% endblock %}
