body{
    overflow:auto;
    background-image:url(../img/background.jpg);
}

#search-img,#display-img{
    height:30vw;
    width:30vw;
}
#display{
    overflow:auto;
    width:100%;
   
    
   
}
#col-img{
    display:flex;
    overflow:auto;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
/* #display-img{
    padding:1vw 1vw 1vw 1vw;
} */
.modal-header .close{
    background-color:red;
}